<div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      User Name : <strong>{{ currentUser.username  }}</strong> 
    </h3>
  </header>
  <p>
    <strong>Name:</strong>
    {{ currentUser.firstName }} {{ currentUser.lastName }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <p>
    <strong>Contact Number:</strong>
    {{ currentUser.contact }}
  </p>
  <p>
    <strong>Age:</strong>
    {{ currentUser.age }}
  </p>
  <p>
    <strong>Gender:</strong>
    {{ currentUser.gender }}
  </p>
  <strong>Role:</strong>
  <p *ngFor="let role of currentUser.roles">
      {{ role }}
  </p>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
