<br>
<br>


<h1 align="center" class="bg-white text-secondary">

  Welcome To Test Management : </h1>
<div class="w3-animate-zoom">
  <img src="assets/cb.jpg" style="width: 20%;" class="mx-auto d-block">
</div>

<table  class="table table-bordered">
  <thead class="thead-dark">
   <tr>

      <th><button type="button" class="btn btn-primary" routerLink="/addTest">ADD TEST</button></th>
      <th><button type="button" class="btn btn-primary" routerLink="/updateTest">UPDATE TEST</button></th>
      <th><button type="button" class="btn btn-primary" routerLink="/viewAllTest">DISPLAY ALLTESTS</button></th>
  </tr>
 </thead>
 </table> 