<!-- <div class="container">
  <header class="jumbotron">
    <p>{{ content }}</p>
  </header>
</div> -->

<body style="background-color: rgb(248, 249, 250); margin-top: 0%;">
  <div class="w3-container w3-center w3-animate-right">
      <h1 align="center" style="color: black;font-weight: 700;margin-top:
          20px;">Healthcare Management System</h1>

      <h3 align="center" style="margin-top:20px;font-weight: 500;">One Stop Digital Healthcare Solution</h3>
      <h5 align="center" style="color: gray; font-family: 'Times New Roman',
          Times, serif">Most healthcare software systems rely on outdated client server technologies accessible only from network connected desktop computers installed on premises. Our software fundamentally changes how you manage your Clinic / Hospitals. With our solution you get a fully integrated healthcare management suite delivered on a cloud-based platform providing you a robust, secure and available solution for your needs.
      </h5>
  </div>
  <h3 align="center" style="margin-top: 100px;">Modern Software to help every single stakeholder of the Healthcare Ecosystem</h3>
  <div class=" w3-animate-zoom">
    <img src="assets/d.jpg" class="mx-auto d-block">
</div>

  <div class="row" style="margin-top: 70px;">
      <div class="col-sm-6" style="margin-bottom: 20px;"><img
              src="assets/f.jpg" class="mx-auto d-block" style="width:500px;height:500px;"></div>
      <div class="col-sm-6">
          <div class="list-type5">
              <ol>
                  <li>Appointment Management</li>
                  <li>Out-patient Management</li>
                  <li>In-patient Management</li>
                  <li>Operation Theatre Management</li>
                  <li>Electronic Medical Records</li>
                  <li>Admin Dashboard</li>
                  <li>Laboratory Management</li>
                  <li>Doctor Discovery</li>
                  <li>Email & SMS Reminders</li>
              </ol>
          </div>
      </div>
  </div>

</body>
