<footer class="bg-dark text-white mt-4">
    <div class="container-fluid py-3" style="align-content:center;">
        <div class="row">
            <div class="col-md-3">
                <h5>Health Care Management System</h5>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-6">All Rights Reserved </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right small align-self-end">2020 Brand, Inc.</div>
        </div>
    </div>
</footer>